---
const { url } = Astro.props;
---

<a
  href={url}
  class=`text-[15px] md:text-xl rounded-[100px] w-auto text-center py-3 md:px-8 md:py-4
  hover:cursor-pointer transition 
  ${Astro.props.class}`
>
  <slot />
</a>
