---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import FortuneCompanies from "../components/FortuneCompanies.astro";
import DepartmentUsed from "../components/DepartmentUsed.astro";
import DifferentAs from "../components/DifferentAs.astro";
import BusinessSecurity from "../components/BusinessSecurity.astro";
import ConnectIntegrations from "../components/ConnectIntegrations.astro";
import IntegrationCarrousel from "../components/IntegrationCarrousel.astro";
import CompaniesTrust from "../components/CompaniesTrust.astro";
import EasyStart from "../components/EasyStart.astro";
import LeaderAnalyst from "../components/LeaderAnalyst.astro";
import PlatformGrow from "../components/PlatformGrow.astro";
import SiteFooterTree from "../components/SiteFooterTree.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Gestiona el trabajo, los proyectos y las tareas de tu equipo en línea • Asana • Asana"
  ,
  description="Trabaja en cualquier momento y desde cualquier lugar con Asana. Mantén a los equipos remotos y distribuidos y a toda tu organización centrados en sus objetivos, proyectos y tareas con Asana."
>
  <main>
    <Hero />
    <FortuneCompanies />
    <DepartmentUsed />
    <DifferentAs />
    <BusinessSecurity />
    <ConnectIntegrations />
    <IntegrationCarrousel />
    <CompaniesTrust />
    <EasyStart />
    <LeaderAnalyst />
    <PlatformGrow />
    <SiteFooterTree />
    <Footer />
  </main>
</Layout>
