---
import TitleH1 from "./textBlocks/TitleH1.astro";
import Paragraph from "./textBlocks/Paragraph.astro";
import MainButtonAnchor from "./buttons/MainButtonAnchor.astro";
---

<section class="md:grid grid-cols-12 px-6 mb-16 md:px-10 md:mb-28">
  <div class="col-span-6">
    <TitleH1>Conecta más de 300 integraciones</TitleH1>
    <Paragraph>
      Asana se integra con las herramientas empresariales que tu organización ya
      usa, desde el primer momento.
    </Paragraph>
    <div>
      <MainButtonAnchor class="border-[1px] border-black/60"
        >Ver todas las integraciones
      </MainButtonAnchor>
    </div>
  </div>
</section>
