---
import MainButtonAnchor from "./buttons/MainButtonAnchor.astro";
const urlCreateAccount = "https://asana.com/create-account";
const urlDemo = "https://asana.com/go/demo";
---

<section
  class="flex flex-col items-center pt-32 pb-20 px-6 md:px-14 bg-coral-0 text-coral-1000 hover:cursor-default"
>
  <h1
    class="text-[40px] [line-height:90%] md:text-7xl font-GhostMedium text-center"
  >
    Una mejor manera de trabajar
  </h1>
  <div class="w-full text-center md:px-12 lg:px-56 my-4 md:my-9">
    <p class="text-base font-light md:text-xl">
      Vincula las tareas con los objetivos y automatiza los flujos de trabajo
      con la IA como compañera de equipo.
    </p>
  </div>
  <div class="flex flex-col w-full md:w-auto md:flex-row gap-2">
    <MainButtonAnchor
      href={urlCreateAccount}
      class="bg-coral-1000 text-coral-0 hover:bg-coral-600"
      >Comenzar</MainButtonAnchor
    >
    <MainButtonAnchor
      href={urlDemo}
      class="border-coral-600 hover:bg-coral-200 border-[1px]"
      >Mira como funciona</MainButtonAnchor
    >
  </div>
  <picture>
    <img
      class="my-10"
      src="/images/web-hero.webp"
      alt="Image for product launcher plan"
    />
  </picture>
</section>
