<svg
  {...Astro.props}
  width="17"
  height="17"
  viewBox="0 0 17 17"
  aria-labelledby="facebook-title-id"
  aria-hidden="false"
  ><title id="facebook-title-id">Facebook</title><path
    d="m11.405 6.429-.163 2.128H9.06v7.39H6.304v-7.39H4.833V6.429h1.47v-1.43c0-.63.016-1.6.474-2.202.482-.64 1.145-1.071 2.283-1.071 1.854 0 2.635.264 2.635.264l-.367 2.179s-.613-.178-1.184-.178c-.572 0-1.084.205-1.084.777v1.66h2.345Z"
  ></path></svg
>
