<svg
  {...Astro.props}
  width="17"
  height="17"
  viewBox="0 0 17 17"
  aria-labelledby="instagram-title-id"
  aria-hidden="false"
  ><title id="instagram-title-id">Instagram</title><path
    d="M8.5 3.007c1.898 0 2.124.007 2.874.042 1.927.088 2.827 1.002 2.915 2.915.034.75.04.975.04 2.873 0 1.9-.006 2.124-.04 2.874-.088 1.91-.986 2.827-2.915 2.915-.75.034-.974.041-2.874.041-1.899 0-2.124-.007-2.874-.041-1.932-.089-2.827-1.007-2.915-2.916-.034-.75-.041-.974-.041-2.873 0-1.899.008-2.124.041-2.874.089-1.912.986-2.827 2.915-2.915.75-.034.975-.04 2.874-.04Zm0-1.281c-1.931 0-2.173.008-2.932.042-2.582.119-4.018 1.552-4.136 4.137-.035.759-.043 1-.043 2.932 0 1.931.008 2.173.042 2.932.119 2.582 1.552 4.018 4.137 4.136.759.035 1 .043 2.932.043 1.931 0 2.173-.008 2.932-.043 2.58-.118 4.019-1.551 4.136-4.136.035-.759.043-1.001.043-2.932 0-1.932-.008-2.173-.043-2.932-.116-2.58-1.55-4.018-4.136-4.136-.759-.035-1.001-.043-2.932-.043Zm0 3.46a3.652 3.652 0 1 0 0 7.303 3.652 3.652 0 0 0 0-7.304Zm0 6.021a2.37 2.37 0 1 1 0-4.74 2.37 2.37 0 0 1 0 4.74Zm3.796-7.02a.854.854 0 1 0 0 1.708.854.854 0 0 0 0-1.707Z"
  ></path></svg
>
