<svg
  {...Astro.props}
  width="17"
  height="17"
  viewBox="0 0 17 17"
  aria-labelledby="linkedin-title-id"
  aria-hidden="false"
  ><title id="linkedin-title-id">Linkedin</title><path
    d="M4.63 14.784H1.858V5.913H4.63v8.871Zm-1.456-9.98h-.02c-1.003 0-1.654-.68-1.654-1.538 0-.876.67-1.54 1.694-1.54 1.022 0 1.651.662 1.671 1.537 0 .86-.65 1.54-1.691 1.54Zm12.548 9.98H12.58v-4.59c0-1.202-.49-2.021-1.573-2.021-.828 0-1.287.553-1.5 1.086-.08.19-.069.458-.069.725v4.8H6.323s.04-8.132 0-8.871h3.114v1.392c.184-.609 1.18-1.478 2.768-1.478 1.97 0 3.517 1.276 3.517 4.024v4.933Z"
  ></path></svg
>
