<svg
  {...Astro.props}
  width="17"
  height="17"
  viewBox="0 0 17 17"
  aria-labelledby="twitter-title-id"
  aria-hidden="false"
  ><title id="twitter-title-id">Twitter</title><path
    d="m9.51904,7.34694l5.24621,-5.97185l-1.24275,0l-4.5572,5.18421l-3.63712,-5.18421l-4.19603,0l5.50124,7.84019l-5.50124,6.26163l1.24275,0l4.80942,-5.47588l3.8419,5.47588l4.19603,0m-12.39881,-13.18409l1.90921,0l8.78893,12.31145l-1.90968,0"
    fill="currentColor"></path></svg
>
