<svg
  width="17"
  height="17"
  viewBox="0 0 17 17"
  aria-labelledby="youtube-title-id"
  aria-hidden="false"
  ><title id="youtube-title-id">Youtube</title><path
    d="M8.495 3.503s-4.764 0-5.96.311A1.97 1.97 0 0 0 1.19 5.17C.879 6.365.879 8.84.879 8.84s0 2.486.31 3.663a1.94 1.94 0 0 0 1.347 1.346c1.205.32 5.96.32 5.96.32s4.772 0 5.968-.31a1.894 1.894 0 0 0 1.337-1.347c.32-1.186.32-3.662.32-3.662s.01-2.486-.32-3.681a1.882 1.882 0 0 0-1.337-1.337c-1.196-.33-5.969-.33-5.969-.33ZM6.98 6.553l3.964 2.288-3.964 2.279V6.554Z"
  ></path></svg
>
