<svg
  {...Astro.props}
  width="21"
  height="21"
  viewBox="0 0 16 16"
  aria-labelledby="arrow-left-icon-title-id"
  aria-hidden="false"
  fill="var(--lightmode-icon)"
  style="fill: var(--lightmode-icon);"
  ><title id="arrow-left-icon-title-id">arrow-left icon</title><path
    d="M14.0123 7.23745H3.8123L7.5123 3.53745C7.8123 3.23745 7.8123 2.78745 7.5123 2.48745C7.2123 2.18745 6.7623 2.18745 6.4623 2.48745L1.4623 7.48745C1.1623 7.78745 1.1623 8.23745 1.4623 8.53745L6.4623 13.5375C6.6123 13.6875 6.8123 13.7375 7.0123 13.7375C7.2123 13.7375 7.4123 13.6875 7.5623 13.5375C7.86231 13.2375 7.86231 12.7875 7.5623 12.4875L3.8623 8.78745H14.0123C14.4123 8.78745 14.7623 8.43745 14.7623 8.03745C14.7623 7.63745 14.4123 7.23745 14.0123 7.23745Z"
  ></path></svg
>
