<svg
  {...Astro.props}
  width="10"
  height="10"
  viewBox="0 0 16 16"
  aria-labelledby="chevron-down-icon-title-id"
  aria-hidden="false"
  style="currentColor"
  ><title id="chevron-down-icon-title-id">chevron-down icon</title><path
    d="M8.00011 10.9801C7.85011 10.9801 7.65011 10.9301 7.55011 10.8301L2.05011 6.33009C1.75011 6.08009 1.70011 5.58009 1.95011 5.28009C2.20011 4.98009 2.70011 4.93009 3.00011 5.18009L8.00011 9.28009L13.0001 5.18009C13.3001 4.93009 13.8001 4.98009 14.0501 5.28009C14.3001 5.58009 14.2501 6.08009 13.9501 6.33009L8.45011 10.8301C8.35011 10.9301 8.15011 10.9801 8.00011 10.9801Z"
  ></path></svg
>
